*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.scc
/.idea
*.apk
app/release/license.txt
app/release/output.json
app/libs/DynamsoftBarcodeReaderAndroid-debug.aar
app/libs/DynamsoftBarcodeReaderAndroid-debug-7.27-10.57.aar
*.aar
app/libs/DynamsoftBarcodeReaderAndroid-debug-8.13-1.21.zip
sh.exe.stackdump
app/libs/DynamsoftBarcodeReaderAndroid-debug-8.17-1.53.zip
app/libs/DynamsoftBarcodeReaderAndroid-debug-8.17-3.11.zip
app/libs/DynamsoftBarcodeReaderAndroid-debug-8.17-4.39.zip
